@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br /><h1 class="display-1">Music DataBase</h1>
   <h2>Base de dados de Música para artistas.</h2><br/><br /><br />


    <br /><br /><h1 class="display-6">Projeto TI2 - Ano letivo 2020/21</h1>
    <h3>Licenciatura Engenharia Informática</h3>
    <h3>Fernando Silva - 20796</h3>
</div>
